/*-------------------------------FRONT STATEMENT-------------------------------*/

.front_statement {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*-------------------------------TEXT FRONT STATEMENT-------------------------------*/

.text_front_statement {
  margin-top: 100px;
  margin-left: 100px;
  font-size: 30px;
}

.text_front_statement > h3 {
  color: #1f3ff2;
  text-shadow: 2px 0 0 #9c07cd, 0 -1px 0 #9c07cd, 0 1px 0 #9c07cd,
    -1px 0 0 #9c07cd;
  margin: 10px;
}

.text_front_statement > p {
  background: -webkit-linear-gradient(#1f3ff2, #9c07cd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: HelloKitty;
  font-size: larger;
  padding: 10px;
}

.text_front_statement > h2 {
  color: #f5a3c8;
  font-family: HelloKitty;
}

.slide_button {
  width: 200px;
  height: 60px;
  color: white;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: HelloKitty;
  font-size: large;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.slide_button {
  background: -webkit-linear-gradient(#f5a3c8, #ed0d92);
  border: none;
  z-index: 1;
}
.slide_button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #f5a3c8;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.slide_button:hover {
  color: #ffffff;
}
.slide_button:hover:after {
  left: 0;
  width: 100%;
}
.slide_button:active {
  top: 2px;
}
/*-------------------------------IMAGE FRONT STATEMENT-------------------------------*/

.image_front_statement > img {
  height: 400px;
  margin-top: 100px;
}

/*-------------------------------SCALING-------------------------------*/

@media screen and (max-width: 1000px) {
  .image_front_statement > img {
    width: 600px;
    height: auto;
    margin-top: 130px;
  }

  .text_front_statement {
    margin-top: 80px;
    margin-left: 80px;
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .image_front_statement > img {
    width: 100%;
    height: auto;
    margin-top: 130px;
  }

  .text_front_statement {
    margin-top: 80px;
    margin-left: 80px;
    margin-left: 100px;
    font-size: 30px;
  }

  .front_statement {
    flex-direction: column;
  }
}

/*-------------------------------Lower Body About Us-------------------------------*/

.lower-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .lower-delimiter {
    background-color: #ed0d92;
    width: 70%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    margin-top: 6vh;
  }

  .lower-big-statement {
    border: 2px solid #ed0d92;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f5a3c8;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
  }

  .lower-info-statement {
    width: 70%;
    background-color: #f5a3c8;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .lower-info-statement-text {
    font-family: HelloKitty;
    font-size: large;
  }
}
