<div class="page">
  <div class="form" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <input type="text" matInput formControlName="category" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input type="text" matInput formControlName="quantity" />
    </mat-form-field>
  </div>
  <button mat-raised-button class="inventory-button">
    {{ formButtonText }}
  </button>
  <button mat-raised-button class="inventory-button">Close</button>
</div>
