<div class="page">
  <div class="form" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input
        type="text"
        matInput
        placeholder="Name"
        formControlName="name"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input
          type="text"
          matInput
          placeholder="Description"
          formControlName="description"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input
          type="text"
          matInput
          placeholder="Quantity"
          formControlName="quantity"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
  </div>
</div>
