<div *ngIf="itemList === undefined || itemList.length === 0" class="loading404">
  <mat-spinner></mat-spinner>
  <p id="loading-label">{{ loadingText }}</p>
</div>

<div class="itemList">
  <div *ngFor="let item of itemList" class="item">
    <p>Name: {{ item.name }}</p>
    <p>Category: {{ item.category }}</p>
    <p>Quantity: {{ item.number }}</p>
    <img src="../../../assets/Brick.jpg" />
    <button
      mat-raised-button
      class="inventory-button"
      (click)="openDialog(item._id)"
    >
      Edit
    </button>

    <button
      mat-raised-button
      class="inventory-button"
      (click)="deleteItem(item._id)"
    >
      Delete
    </button>
  </div>
</div>
<div *ngIf="itemList != undefined">
  <button mat-mini-fab class="add-item-button" (click)="openDialog(0)">
    <mat-icon>add</mat-icon>
  </button>
</div>