$menuHeight: 60px;
$menuBreakpoint: 900px;
$mainAccentColor: #ed0d92;
$secondaryAccentColor: #f5a3c8;
#my-navbar {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $secondaryAccentColor;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logotype {
    a {
      padding: 0 8px;
      text-decoration: none;
      font-family: Boldins;
      font-size: 72px;
      background: -webkit-linear-gradient(left, $mainAccentColor, #f90013);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      margin-left: 100px;
    }
  }

  .dynamic-menu {
    padding: 0 10px;
    margin: 0 10px;
    display: none;
    cursor: pointer;

    i {
      color: whitesmoke;
      line-height: $menuHeight;
    }

    i:hover {
      border-bottom: 1px solid $mainAccentColor;
      transition: 0.5s;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    margin-right: 50px;
    @media (max-width: $menuBreakpoint) {
      display: none;

      &.is-open {
        display: block;
        position: absolute;
        top: #{$menuHeight + 2};
        background: $secondaryAccentColor;
        width: 100%;

        .menu-item {
          border-bottom: 1px solid white;
          color: white;
        }
      }
    }

    .menu-item {
      padding: 0 10px;
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
      color: whitesmoke;
      margin-left: 10px;
      margin-right: 10px;
      background-color: $secondaryAccentColor;
    }

    .menu-item:hover {
      color: $mainAccentColor;
      transition: 0.7s;
    }
  }
}
